@import url(http://fonts.googleapis.com/css?family=Open+Sans|Berkshire+Swash);
@import url("single.css");

body{
	background-color: #021a2e;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	animation-name: animaform;
 	animation-duration: 1s;
 	color: white;
/*	overflow-y: hidden;     */
	
}


.skip{
	position: absolute;
	color: white;
	top: 10px;
	z-index: 7;
	width: 200px;
	left: 160px;
	text-align:center;
	padding: 0;
	margin: 0;
}
.skip a,
.skip a:visited{
	color:#021a2e
}

.skip a:focus,
.skip a:hover{
	color: white;
}

header{
	position: absolute;
	top: 0px;
	padding-top: 5px;
	top: 0px;
	width: 100%;
	margin: auto;
	text-align: center;
	z-index: 6;
	background-color: #021a2e;
}

header img{
	height: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
}

header img[src|="img/logow3c.svg"],
header img[src|="../img/logow3c.svg"]{
	left: 10px;
	right: auto;
}

main{
	margin-top: 120px;
}

.inst{
	position: absolute;
	right: 10px;
	top: 30px;
	z-index: 20;
}

.inst li{
	display: inline-block;
}

.inst li a.bullet-ins{
	background-color: white;
	display: block;
	width: 10px;
	height: 10px;
}

.inst a:link,
.inst a:visited{
color: black;
}

.inst a:focus span,
.inst a:hover span{
    display:inline; 
    position:fixed; 
    color:white;
    border:1px solid gray; 
    background:#663399;
    white-space: pre-wrap;
    z-index: 10;
}


.inst a span {
    display:none; 
    width:70px;
    min-height: 50px;
    position:fixed; 
    top: 70px;
    right: 10px;
    font-size: 0.8em;
    z-index: -10;
    text-align: left;
    padding: 10px;
}




h1{
	color: white;
	padding: 30px 10px 10px 30px;
	margin-top: 10px;
	font-family: 'Berkshire Swash', sans-serif;
	font-size: 2.5em;
	margin: 0px;
	text-align: center;
	white-space: nowrap;
}

a,
a:visited{
	color: white;
}

a:hover{
	color: yellow;
}

*[lang=en],
*[lang=fr]
 { 
	font-style: italic;
}

a.bullet,
a.close,
form,
.skip,
#end{
	display: none;
}

img{
	display: block;
}

div.internet img,
div.web img{
	border:1px solid silver;
	box-shadow: 5px 5px 5px black;
	margin-bottom: 20px;

}

ul li{
	list-style: none;

}

h2{
	background-color: white;
	color: #021a2e;
	padding: 5px;
	font-size: 1em;
}

h3{
	text-align: center;
}

p img{
	margin-left: auto;
	margin-right: auto;
	min-width: 300px;
}

.hide p+p{
	text-align: right;
	margin-right: 20px;
	border-bottom:1px solid white;
}

.github{
	text-align: center;
}

div.internet h3:before{
	content: "Internet";
	position: absolute;
	left: 40px;
	background-color: white;
	border-radius: 10px;
	width: 100px;
	color: #021a2e;
}

div.web h3:before{
	content: "Web";
	position: absolute;
	left: 40px;
	background-color: white;
	border-radius: 10px;
	width: 100px;
	color: #021a2e;
}