/*--------- Quadrados de especificacoes --------*/



/*--------- Conteudo especial para cada ano --------*/

li#ano1969 a#internet-1969-01{
	background: url(img/arpanet.jpg) no-repeat white; 
	background-size: 150%;
	background-position: 0px 0px, center;
}

li#ano1974 a#internet-1974-01{
	background: url(img/internet.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 20px, center;
}

li#ano1986 a#internet-1986-01{
	background: url(img/ietflogo.gif) no-repeat white; 
	background-size: 100%;
	background-position: 0px 20px, center;
}

li#ano1989 a#web-1989-01{
	background: url(img/foto-timbl.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 0px, center;
}


li#ano1989 a#internet-1989-01{
	background: url(img/logo-cgi-old.gif) no-repeat white; 
	background-size: 180%;
	background-position: -60px 10px, center;
}

li#ano1990 a#web-1990-01{
	background: url(img/browser.jpg) no-repeat white; 
	background-size: 150%;
	background-position: 0px 0px, center;
}

li#ano1990 a#internet-1990-01{
	background: url(img/iana-logo.jpg) no-repeat white; 
	background-size: 120%;
	background-position: 0px 20px, center;
}

li#ano1991 a#web-1991-01{
	background: url(img/first-webpage.jpg) no-repeat white; 
	background-size: 200%;
	background-position: 0px 0px, center;
}

li#ano1991 a#web-1991-02{
	background: url(img/the-first-html-tags.png) no-repeat white; 
	background-size: 200%;
	background-position: 0px 0px, center;
}

li#ano1992 a#web-1992-01{
	background: url(img/first-image.jpg) no-repeat white; 
	background-size: 130%;
	background-position: 0px 0px, center;
}

li#ano1992 a#internet-1992-01{
	background: url(img/isoc.gif) no-repeat white; 
	background-size: 130%;
	background-position: -10px 15px, center;
}

li#ano1993 a#web-1993-01{
	background: url(img/web.jpg) no-repeat white; 
	background-size: 130%;
	background-position: 0px 0px, center;
}

li#ano1993 a#web-1993-02{
	background: url(img/mosaic.jpg) no-repeat white; 
	background-size: 130%;
	background-position: 0px 0px, center;
}
li#ano1993 a#web-1993-03{
	background: url(img/html1.jpg) no-repeat white; 
	background-size: 150%;
	background-position: 0px 0px, center;
}

li#ano1994 a#web-1994-01{
	background: url(img/w3c.jpg) no-repeat white; 
	background-size: 130%;
	background-position: -10px 10px, center;
}

li#ano1994 a#web-1994-02{
	background: url(img/netscape.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 10px, center;
}

li#ano1994 a#web-1994-03{
	background: url(img/url.jpg) no-repeat white; 
	background-size: 200%;
	background-position: -10px 10px, center;
}

li#ano1995 a#web-1995-01{
	background: url(img/html2.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 10px 20px, center;
}

li#ano1995 a#web-1995-02{
	background: url(img/ebay.jpg) no-repeat white; 
	background-size: 130%;
	background-position: -10px -20px, center;
}

li#ano1995 a#web-1995-03{
	background: url(img/ie1.jpg) no-repeat white; 
	background-size: 130%;
	background-position: 0px 0px, center;
}

li#ano1995 a#web-1995-04{
	background: url(img/brendan.jpg) no-repeat white; 
	background-size: 130%;
	background-position: -10px -5px, center;
}

li#ano1995 a#internet-1995-01{
	background: url(img/cgi.jpg) no-repeat white; 
	background-size: 130%;
	background-position: -10px -5px, center;
}

li#ano1995 a#internet-1995-02{
	background: url(img/dominiocom.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px -5px, center;
}

li#ano1996 a#web-1996-01{
	background: url(img/css1.jpg) no-repeat white; 
	background-size: 130%;
	background-position: -10px -5px, center;
}

li#ano1996 a#web-1996-02{
	background: url(img/hotmail.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 5px, center;
}

li#ano1996 a#web-1996-03{
	background: url(img/uol.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px -5px, center;
}

li#ano1996 a#web-1996-04{
	background: url(img/xml1.jpg) no-repeat white; 
	background-size:180%;
	background-position: 0px 20px, center;
}



li#ano1996 a#internet-1996-01{
	background: url(img/http1.jpg) no-repeat white; 
	background-size: 200%;
	background-position: 0px -5px, center;
}

li#ano1996 a#internet-1996-02{
	background: url(img/flash.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px -5px, center;
}

li#ano1997 a#web-1997-01{
	background: url(img/html32.jpg) no-repeat white; 
	background-size: 170%;
	background-position: 0px 0px, center;
}

li#ano1997 a#web-1997-02{
	background: url(img/html4.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 10px, center;
}

li#ano1997 a#internet-1997-01{
	background: url(img/google.jpg) no-repeat white; 
	background-size: 150%;
	background-position: 0px 20px, center;
}

li#ano1997 a#internet-1997-02{
	background: url(img/receita.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 0px, center;
}

li#ano1998 a#web-1998-01{
	background: url(img/css2.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 10px, center;
}

li#ano1998 a#internet-1998-01{
	background: url(img/icann.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 0px, center;
}

li#ano1998 a#internet-1998-02{
	background: url(img/ipv6.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}

li#ano1999 a#web-1999-01{
	background: url(img/wcag1.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 10px, center;
}

li#ano1999 a#internet-1999-01{
	background: url(img/napster.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 0px, center;
}

li#ano1999 a#internet-1999-02{
	background: url(img/NeilGershenfeld.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 0px, center;
}

li#ano2001 a#web-2001-01{
	background: url(img/semantic.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 20px, center;
}

li#ano2001 a#web-2001-02{
	background: url(img/xhtml1.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}

li#ano2001 a#web-2001-03{
	background: url(img/wikipedia.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}

li#ano2001 a#web-2001-04{
	background: url(img/ie6.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 20px, center;
}

li#ano2001 a#internet-2001-01{
	background: url(img/wsis.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}


li#ano2002 a#web-2002-01{
	background: url(img/html5.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}


li#ano2002 a#web-2002-02{
	background: url(img/firefox.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}


li#ano2003 a#web-2003-01{
	background: url(img/safari.jpg) no-repeat white; 
	background-size: 70%;
	background-position: 15px 10px, center;
}

li#ano2003 a#internet-2003-01{
	background: url(img/wsis.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}


li#ano2004 a#web-2004-01{
	background: url(img/rdf.jpg) no-repeat white; 
	background-size: 70%;
	background-position: 15px 15px, center;
}

li#ano2004 a#web-2004-02{
	background: url(img/owl.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 0px, center;
}

li#ano2004 a#web-2004-03{
	background: url(img/whatwg.jpg) no-repeat white; 
	background-size: 70%;
	background-position: 15px 15px, center;
}


li#ano2004 a#web-2004-04{
	background: url(img/orkut.jpg) no-repeat white; 
	background-size: 200%;
	background-position: 10px 15px, center;
}


li#ano2004 a#web-2004-05{
	background: url(img/facebook.jpg) no-repeat white; 
	background-size: 70%;
	background-position: 15px 15px, center;
}

li#ano2005 a#web-2005-01{
	background: url(img/youtube.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}

li#ano2005 a#web-2005-02{
	background: url(img/uri.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}

li#ano2005 a#internet-2005-01{
	background: url(img/logo-nicbr.png) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}

li#ano2005 a#internet-2005-02{
	background: url(img/tic.jpg) no-repeat white; 
	background-size:150%;
	background-position: -20px 0px, center;
}

li#ano2005 a#internet-2005-03{
	background: url(img/wsis.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}



li#ano2006 a#web-2006-01{
	background: url(img/twitter.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}

li#ano2006 a#internet-2006-01{
	background: url(img/igf.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}


li#ano2007 a#web-2007-01{
	background: url(img/w3c-brasil.jpg) no-repeat white; 
	background-size:220%;
	background-position: -60px 0px, center;
}

li#ano2007 a#web-2007-02{
	background: url(img/streetview.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}


li#ano2008 a#web-2008-01{
	background: url(img/html5.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}

li#ano2008 a#web-2008-02{
	background: url(img/wcag2.jpg) no-repeat white; 
	background-size:120%;
	background-position: 0px 10px, center;
}

li#ano2008 a#web-2008-03{
	background: url(img/sparql.jpg) no-repeat white; 
	background-size: 150%;
	background-position: 0px 0px, center;
}

li#ano2008 a#web-2008-04{
	background: url(img/mobile-web.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 0px, center;
}

li#ano2008 a#web-2008-05{
	background: url(img/chrome.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 5px, center;
}

li#ano2008 a#internet-2008-01{
	background: url(img/dropbox.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}


li#ano2009 a#web-2009-01{
	background: url(img/xhtml2.jpg) no-repeat white; 
	background-size:120%;
	background-position: 0px 10px, center;
}

li#ano2009 a#web-2009-02{
	background: url(img/webbr.gif) no-repeat white; 
	background-size:100%;
	background-position: 0px 30px, center;
}

li#ano2009 a#web-2009-03{
	background: url(img/bing.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 10px, center;
}

li#ano2009 a#web-2009-04{
	background: url(img/chff.jpg) no-repeat white; 
	background-size:120%;
	background-position: -10px -10px, center;
}

li#ano2010 a#web-2010-01{
	background: url(img/instagram.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 10px, center;
}

li#ano2010 a#internet-2010-01{
	background: url(img/logo-forum.png) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}



li#ano2011 a#web-2011-01{
	background: url(img/todosnaweb.jpg) no-repeat white; 
	background-size:200%;
	background-position: 0px 30px, center;
}

li#ano2011 a#web-2011-02{
	background: url(img/webtv.jpg) no-repeat white; 
	background-size: 150%;
	background-position: 0px 0px, center;
}

li#ano2011 a#web-2011-03{
	background: url(img/css3.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 0px, center;
}

li#ano2011 a#web-2011-04{
	background: url(img/googleplus.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 0px, center;
}

li#ano2011 a#internet-2011-01{
	background: url(img/itu-logo.jpg) no-repeat white; 
	background-size: 140%;
	background-position: -20px -2px, center;
}

li#ano2013 a#web-2013-01{
	background: url(img/sparql.jpg) no-repeat white; 
	background-size: 150%;
	background-position: 0px 0px, center;
}

li#ano2014 a#web-2014-01,
li#ano2016 a#web-2016-01{
	background: url(img/html5.jpg) no-repeat white; 
	background-size:100%;
	background-position: 0px 0px, center;
}

li#ano2014 a#web-2014-02{
	background: url(img/rdf.jpg) no-repeat white; 
	background-size: 70%;
	background-position: 10px 15px, center;
}

li#ano2014 a#web-2014-03{
	background: url(img/dwbp.jpg) no-repeat white; 
	background-size: 120%;
	background-position: 0px 0px, center;
}

li#ano2014 a#internet-2014-01{
	background: url(img/egi.jpg) no-repeat white; 
	background-size: 90%;
	background-position: 0px 20px, center;
}

li#ano2014 a#internet-2014-02{
	background: url(img/netmundial.jpg) no-repeat white; 
	background-size: 120%;
	background-position: 0px 20px, center;
}

li#ano2014 a#internet-2014-03{
	background: url(img/icann.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 0px, center;
}

li#ano2015 a#web-2015-01{
	background: url(img/ceweb.jpg) no-repeat white; 
	background-size: 120%;
	background-position: -10px 15px, center;
}

li#ano2015 a#web-2015-02{
	background: url(img/webpayments.png) no-repeat white; 
	background-size: 160%;
	background-position: -30px -20px, center;
}

li#ano2015 a#internet-2015-01{
	background: url(img/http2.jpg) no-repeat white; 
	background-size: 130%;
	background-position: -10px -5px, center;
}

li#ano2016 a#web-2016-02{
	background: url(img/css20.jpg) no-repeat white; 
	background-size: 100%;
	background-position: 0px 25px, center;
}

li#ano2017 a#web-2017-01{
	background: url(img/dwbp.png) no-repeat white; 
	background-size: 100%;
	background-position: 0px 25px, center;
}

li#ano2017 a#web-2017-02{
	background: url(img/w3c-idpf.jpg) no-repeat white; 
	background-size: 200%;
	background-position: -40px 0px, center;
}

li#ano2019 a#web-2019-01{
	background: url(img/dwbp.png) no-repeat white; 
	background-size: 100%;
	background-position: 0px 25px, center;
}

li#ano2021 a#web-2021-01{
	background: url(img/spacex.jpg) no-repeat white; 
	background-size: 200%;
	background-position: 0px 0px, center;
}

li#ano2021 a#web-2021-02{
	background: url(img/yahoo-respostas.jpg) no-repeat white; 
	background-size: 200%;
	background-position: 0px 0px, center;
}

/* ee */

#web-2009-ee{
	display: none;
	background: linear-gradient(to bottom, rgba(247,255,0,1) 0%, rgba(255,21,0,1) 100%);
}


